.gris-item{
    width: 200vh;
 
    border: 3px solid black;
}
.grid-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.myview{
    width: 90%;
    border-radius: 160%;
    border: 3px solid #9BD5FF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.grid-item-1{
    margin: auto;
    padding: auto;
}
.grid-item-1 p, h1{
    margin:5%;
}
.grid-item-2 p{
   text-align:center
   
}