
main{
    background-image: url(../images/abstract-3291293_1280.jpg);
}
.grid-columns{
    display: grid;
    grid-template-columns: 1fr 5px 2fr;
     margin: 0;
    padding: 0;
}
.flowLine{
    background-color: #9BD5FF;
    width: 5px;
}
.flowDocument,.flowMain{
    background: #eddbbe;
    padding-left: 30px;
}
.flowDocument{
    margin-right: 100px;
}
.flowMain{
    margin-left: 100px;
}
.special-character{
    color: red;
    font-size: 10px;
    font-style: oblique;
}

.myphoto{
    padding-top: 20px;
    width: 200px;
    border-radius: 120px;
    height: 200px;
}
.dtsquare-1{
    background-color: #9BD5FF;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    letter-spacing: 1px;    
}
progress{
    background-color: #9BD5FF;
    accent-color: orange;
    border-radius: 10px;
    height: 12px;
}
progress::-webkit-progress-bar{
    background-color:rgb(209, 228, 228);
    border-radius: 10px;
}
progress::-webkit-progress-value{
    background-color: #9BD5FF;
    border-radius: 10px;
}
